*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.intro{
    margin-top: 10%;
    margin-left: 20%;
}

.intro-text{
    color: blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: -15%;
    margin-left: 0;
    text-align: left;
}
.card_subject{
    font-family: "Inconsolata", monospace;
    letter-spacing: 0.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.collage{
  height: 100%;
  margin-top: -140%;
  margin-left: 150%;
}
.flip-card {
    margin-top: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    background-color: transparent;
    width: 25rem;
    height: 30rem;
    perspective: 1000px;
    display: inline-block;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back .cover{
    margin-top: 0%;
    height: 20%;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }
  .card_subject{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: white;
    font-size:3rem;
    margin-top: 50%;
  }
  
  .card-details{
    margin-top: 0%;
    size:20px;
    background-color: transparent;
  }
  .card-details p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: transparent;
    color: black;
    text-decoration: underline;
    padding: 0.5rem;
  }
  
  .pic{
    margin-left: 50%;
    border-radius: 50%;
    margin-top: 0%;
    width: 20%;
    height: 30%;
  }
  .img-class{
    margin-top: -26%;
    margin-left: 50%;
    margin-bottom: 15%;
    height: 30%;
  }
 /*Comment Section*/
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
 }
 
  .comment-section {
    margin-top: 5rem;
    margin-left: 30rem;
    width: 50rem;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    font-size: 60%;
 }
  .comment-section .comment-container {
    margin-top: 0rem;
    margin-left: -15rem;
 }
  .comment-section .heading {
    color: rgb(255, 255, 255);
    line-height: 1;
    padding-left: -0;
 }
  .comment-section .comment-input, .comment-section .comment-btn {
    float: left;
    display: inline-block;
    height: 70px;
 }
  .comment-section .comment-input {
    margin-top: 2%;
    margin-left: 5%;
    appearance: none;
    border: 0;
    border-left: 3px solid transparent;
    background-color: #eee;
    height: 2rem;
    width: 15rem;
    transition: 0.65s ease;
    border-radius: 4px;
 }
 
  .comment-section .comment-btn {
    height: 2rem;
    width: 5rem;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    margin-left: 5%;
    border: black;
    background-color: white;
    color: black;
 }
  
  .comment-section .comment-btn:hover {
    background-color: orange;
    color: #fff;
 }
  .comment-section .comment-btn:hover + .comment-input {
    background-color: #fff;
    border-color: orange;
 }
  .comment-section .comment-stream {
    list-style: none;
    padding-left: 4rem;
    padding-top: 1rem;
    margin-top: 3rem;
 }
  
  .comment-section .comment-stream li {
    color: orange;
    font-size: 1.5rem;
    padding-left: 2rem;
    border-left: 5px solid orange;
    margin-bottom: 2%;
 }
  /*Project Cards*/
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative ;
    margin-left:30%;
    width: 50%;
}

.container .project-card {
  background-color:white;
  height: 20rem;
  width: 40rem;
  position: relative;
  z-index: 1;
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s;
}
.container .project-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -5rem;
  filter: blur(4px);
}
.container .project-card:nth-child(0):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.container .project-card:nth-child(1):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
}
.container .project-card:nth-child(2):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.container .project-card.active {
  z-index: 3;
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}
.container .project-card.prev,
.container .project-card.next {
  z-index: 2;
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}
.container .project-card .details{
    padding: 0.5rem;
    background-color:white;

}
.container .project-card .details h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: black;
    background-color: white;

}
.container .project-card .details p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
    background-color: white;

}
.project-heading{
  margin-bottom: -10rem;
  width: 25%;
  margin-left: 6%;
  margin-bottom: 2%;
  color: #fff;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
}